body {
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: white;
    text-decoration: none;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1rem;
}
.logo {
color : white;
}

.menu {
    display: none;
    flex-direction: column;
    background-color: #444;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
}
.menu a {
    color: white;
    padding: 1em;
    text-decoration: none;
    display: block;
}

.hamburger {
    font-size:2rem;
    color: white;
    cursor: pointer;
}

/* @media(max-width: 767px) {
    .menu {
        display: flex;
    }
} */
/* tablet & dextop */ 
@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
    .menu {
        display: flex;
        position: static;
        flex-direction: row;
        background: none;
        width: auto;
    }
}